img {
   image-rendering: -webkit-optimize-contrast;
   transform: translateZ(0);
   backface-visibility: hidden;
 }
.upheader{
  color: gray;
  font-size: small;
}
a {
   text-decoration:none;
 }
 a:visited {text-decoration: none; color: black;}

 @media all and (max-width:15000px) {
   .header_m{
     display: none;
   }
   .not{
     display: none;
   }
 }
 @media all and (max-width:1500px) {
   .header{
     /*display:none;*/
     transition: transform 0.5s;
   }
   .header_nav{
     font-size: 80%;
   }
   .header_logo{
     width: 15%;
   }
   .content_intro{
     width:100%;
   }

   .ci_intro{
     /*margin-right: 1000px;*/
   }
   .header_m{
     display: none;
   }
 }
 @media all and (max-width:1366px){
     transform : translateY(1300px);
 }
 @media all and (max-width:1280px) {
   .header{
     transition: transform 0.5s;
   }
   .header_nav{
     font-size: 70%;
   }
   .header_logo{
     width: 16%;
   }
   .header_m{
     display: none;
   }
 }
 @media all and (max-width:1100px) {
   .header{
     transition: transform 0.5s;
     position:relative;
   }
   .header_nav{
     font-size: 70%;
     clear:both;
   }
   .header_logo{
     display: none;
     width: 20%;
   }
   .content_intro{
     width:95%;
   }
   .nav{
     text-align : center;
   }
   .header_m{
     display: block;
   }
   .header{
     display: none;
   }
   .not{
     display: block;
   }
 }
 @media all and (max-width:800px) {

 }


 @media all and (max-width:981px) {

 }
 @media all and (max-width:808px) {
   .header_m{
     font-size: 80%;
   }
 }
 @media all and (max-width:700px) {
   .header_m{
     font-size: 70%;
   }
 }
 @media all and (max-width:600px) {
   .header_m{
     font-size: 60%;
   }
 }
/*-------------------------------------------------------------------------------------------------------------*/







/*-------------------------------------------------------------------------------------------------------------*/
#wrap {
  height: auto;
min-height: 100%;
padding-bottom: 150px;
}
.footer {
  width: 105%;
	bottom: 0px;
  background-color: #23272a;
  color : white;
  clear: left;
  height: 150px;
  position : relative;
  transform : translateY(1200px);
}
html, body {
      margin: 0;
      padding: 0;
      height: 50%;   /*교체*/
}
section {
  min-height: 100%;
    position: relative;
}
