.upheader{
  color: gray;
  font-size: small;
}
.container{
  width: 300vw;
  transition: transform 0.5s;
}
.inner{
  width: 40vw;
  float: left;

  margin-right:10%;
  margin-left:10%;
}
.inner img{
  width:100%;
}
.img_responsive{
  width: 100%;      //주목
  height: auto;
}
